# DSAA-Kulimi Rwanda Data Camp Capstone Project <br> Lockdowns Impact on Air Quality üåç

GitHub repo: https://github.com/stoufa/Lockdowns-Impact-on-Air-Quality

In [1]:
# Enabling Line Wrapping
from IPython.display import HTML, display
def set_css():
  display(HTML('''
  <style>
    pre {
        white-space: pre-wrap;
    }
  </style>
  '''))
get_ipython().events.register('pre_run_cell', set_css)

In [2]:
# better way to display pandas dataframes
%load_ext google.colab.data_table

# Getting Data

our task will be to get the table of pandemic lockdowns from this Wikipedia article: [COVID-19 lockdowns - Wikipedia](https://en.wikipedia.org/wiki/COVID-19_lockdowns)

In [3]:
import pandas as pd

In [4]:
WIKIPEDIA_ARTICLE_URL = 'https://en.wikipedia.org/wiki/COVID-19_lockdowns'

In [5]:
df = pd.read_html(WIKIPEDIA_ARTICLE_URL)

In [6]:
x = df[4][:-1] # ignore the last row
# x.drop(x.columns[-1], axis=1, inplace=True) # drop the last column (unamed and contains NaN values only)
x = x[x.columns[:-1]] # a better way to remove the last column (to avoid the SettingWithCopyWarning)
x

    vteCOVID-19 pandemic lockdowns  ...
               Country / territory  ...                                              Level
               Country / territory  ...                                              Level
0                          Albania  ...                                           National
1                          Algeria  ...                                               City
2                          Algeria  ...                                               City
3                        Argentina  ...                                  Metropolitan area
4                        Argentina  ...                                           National
..                             ...  ...                                                ...
234                        Vietnam  ...                                               City
235                        Vietnam  ...  Province, Chi Linh city lockdown began from 28...
236                        Vietnam  ...                             4 districts and 1 city
237                        Vietnam  ...                                        6 districts
238                       Zimbabwe  ...                                           National

[239 rows x 28 columns]

In [7]:
type(x.columns[0])

tuple

In [8]:
x.columns[0]

('vteCOVID-19 pandemic lockdowns',
 'Country / territory',
 'Country / territory')

In [9]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 28 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   (vteCOVID-19 pandemic lockdowns, Country / territory, Country / territory)  239 non-null    object
 1   (vteCOVID-19 pandemic lockdowns, Place, Place)                              238 non-null    object
 2   (vteCOVID-19 pandemic lockdowns, First lockdown, Start date)                152 non-null    object
 3   (vteCOVID-19 pandemic lockdowns, First lockdown, End date)                  152 non-null    object
 4   (vteCOVID-19 pandemic lockdowns, First lockdown, Length (days))             175 non-null    object
 5   (vteCOVID-19 pandemic lockdowns, Second lockdown, Start date)               132 non-null    object
 6   (vteCOVID-19 pandemic lockdowns, Second lockdown, End date)                 124 non-null    object
 7   (vteCOVID-19 pandemic lockdowns, Second lockdown, Length (days))            128 non-null    object
 8   (vteCOVID-19 pandemic lockdowns, Third lockdown, Start date)                57 non-null     object
 9   (vteCOVID-19 pandemic lockdowns, Third lockdown, End date)                  57 non-null     object
 10  (vteCOVID-19 pandemic lockdowns, Third lockdown, Length (days))             58 non-null     object
 11  (vteCOVID-19 pandemic lockdowns, Fourth lockdown, Start date)               16 non-null     object
 12  (vteCOVID-19 pandemic lockdowns, Fourth lockdown, End date)                 16 non-null     object
 13  (vteCOVID-19 pandemic lockdowns, Fourth lockdown, Length (days))            16 non-null     object
 14  (vteCOVID-19 pandemic lockdowns, Fifth lockdown, Start date)                11 non-null     object
 15  (vteCOVID-19 pandemic lockdowns, Fifth lockdown, End date)                  11 non-null     object
 16  (vteCOVID-19 pandemic lockdowns, Fifth lockdown, Length (days))             11 non-null     object
 17  (vteCOVID-19 pandemic lockdowns, Sixth lockdown, Start date)                9 non-null      object
 18  (vteCOVID-19 pandemic lockdowns, Sixth lockdown, End date)                  9 non-null      object
 19  (vteCOVID-19 pandemic lockdowns, Sixth lockdown, Length (days))             9 non-null      object
 20  (vteCOVID-19 pandemic lockdowns, Seventh lockdown, Start date)              8 non-null      object
 21  (vteCOVID-19 pandemic lockdowns, Seventh lockdown, End date)                8 non-null      object
 22  (vteCOVID-19 pandemic lockdowns, Seventh lockdown, Length (days))           8 non-null      object
 23  (vteCOVID-19 pandemic lockdowns, Eighth lockdown, Start date)               7 non-null      object
 24  (vteCOVID-19 pandemic lockdowns, Eighth lockdown, End date)                 7 non-null      object
 25  (vteCOVID-19 pandemic lockdowns, Eighth lockdown, Length (days))            7 non-null      object
 26  (vteCOVID-19 pandemic lockdowns, Total length (days), Total length (days))  239 non-null    object
 27  (vteCOVID-19 pandemic lockdowns, Level, Level)                              239 non-null    object
dtypes: object(28)
memory usage: 52.4+ KB

In [25]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [27]:
x.head()

Warning: Total number of columns (28) exceeds max_columns (20). Falling back to pandas display.

  country_territory                 place first_lockdown_start_date first_lockdown_end_date first_lockdown_length second_lockdown_start_date second_lockdown_end_date second_lockdown_length third_lockdown_start_date third_lockdown_end_date third_lockdown_length fourth_lockdown_start_date fourth_lockdown_end_date fourth_lockdown_length fifth_lockdown_start_date fifth_lockdown_end_date fifth_lockdown_length sixth_lockdown_start_date sixth_lockdown_end_date sixth_lockdown_length seventh_lockdown_start_date seventh_lockdown_end_date seventh_lockdown_length eighth_lockdown_start_date eighth_lockdown_end_date eighth_lockdown_length total_length              level
0           Albania               Albania            2020-03-13[78]          2020-06-01[79]                    80                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           80           National
1           Algeria               Algiers            2020-03-23[80]          2020-05-14[81]                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City
2           Algeria                 Blida            2020-03-23[80]          2020-05-14[81]                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City
3         Argentina  Greater Buenos Aires            2020-03-19[82]          2020-11-08[83]                   234             2021-05-22[84]               2021-05-30                      9            2021-06-05[85]              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN          245  Metropolitan area
4         Argentina   Rest of the country            2020-03-19[82]          2020-05-10[86]                    52             2021-05-22[84]               2021-05-30                      9            2021-06-05[85]              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           63           National

In [22]:
import re

In [32]:
# remove references from the dates columns
test_cases = [
  '2020-03-13[78]',
  '2021-05-18[496][497]',
  '2021-06-06',
  '2020-05-02 [501]',
  '2020-03-27[af][353]'
]

for old in test_cases:
  # new = re.sub('\[\d+\]', '', old).strip()
  new = re.sub('\[\w+\]', '', old).strip()
  print(f'{old:20}\t{new}')

2020-03-13[78]      	2020-03-13
2021-05-18[496][497]	2021-05-18
2021-06-06          	2021-06-06
2020-05-02 [501]    	2020-05-02
2020-03-27[af][353] 	2020-03-27

In [24]:
# countries found in the dataset
x[x.columns[0]].unique()

array(['Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Belgium',
       'Bermuda', 'Bhutan', 'Bolivia', 'Botswana', 'Brazil', 'Bulgaria',
       'Cambodia', 'Canada', 'Colombia', 'Congo', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czech Republic', 'Denmark', 'Ecuador', 'El Salvador',
       'Eritrea', 'Estonia', 'Fiji', 'France', 'Finland', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guernsey', 'Honduras', 'Hungary',
       'India', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica',
       'Jordan', 'Kosovo', 'Kuwait', 'Lebanon', 'Libya', 'Lithuania',
       'Madagascar', 'Malaysia', 'Mexico', 'Mongolia', 'Montenegro',
       'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nigeria', 'Northern Cyprus', 'North Korea', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Samoa', 'San Marino', 'Saudi Arabia', 'Serbia', 'Singapore',
       'South Africa', 'Spain', 'Sri Lanka', 'Switzerland', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Venezuela', 'Vietnam', 'Zimbabwe'], dtype=object)

In [ ]:
first_row = x.loc[0]
type(dict(first_row)[('vteCOVID-19 pandemic lockdowns', 'Eighth lockdown', 'End date')])

In [ ]:
y = dict(first_row)[('vteCOVID-19 pandemic lockdowns', 'Eighth lockdown', 'End date')]
y, type(y), repr(y)

In [ ]:
import numpy as np

In [ ]:
np.nan, type(np.nan), repr(np.nan)

In [ ]:
dict(first_row)[('vteCOVID-19 pandemic lockdowns', 'Eighth lockdown', 'End date')] is np.nan

In [ ]:
dict(first_row)

In [ ]:
dict(first_row)[('vteCOVID-19 pandemic lockdowns', 'First lockdown', 'Length (days)')] is np.nan

In [33]:
import math

In [21]:
math.isnan(
    dict(first_row)[('vteCOVID-19 pandemic lockdowns', 'Eighth lockdown', 'End date')]
)

True

In [22]:
# p.s. convert numeric columns (length (days)) to float to avoid
# converting when testing for NaN values!
math.isnan(float(
    dict(first_row)[('vteCOVID-19 pandemic lockdowns', 'First lockdown', 'Length (days)')]
))

False

In [19]:
new_columns_names = []
for a, b, c in x.columns:
  if b == c:
    # if the second and third strings are the same,
    # then, we can print only one of them
    output = b
  else:
    output = f'{b}_{c}'
  output = output.lower()         \
          .replace('(days)', '')  \
          .strip()                \
          .replace(' / ', '_')    \
          .replace(' ', '_')
  # print(output)
  new_columns_names.append(output)
print(new_columns_names)

['country_territory', 'place', 'first_lockdown_start_date', 'first_lockdown_end_date', 'first_lockdown_length', 'second_lockdown_start_date', 'second_lockdown_end_date', 'second_lockdown_length', 'third_lockdown_start_date', 'third_lockdown_end_date', 'third_lockdown_length', 'fourth_lockdown_start_date', 'fourth_lockdown_end_date', 'fourth_lockdown_length', 'fifth_lockdown_start_date', 'fifth_lockdown_end_date', 'fifth_lockdown_length', 'sixth_lockdown_start_date', 'sixth_lockdown_end_date', 'sixth_lockdown_length', 'seventh_lockdown_start_date', 'seventh_lockdown_end_date', 'seventh_lockdown_length', 'eighth_lockdown_start_date', 'eighth_lockdown_end_date', 'eighth_lockdown_length', 'total_length', 'level']

In [20]:
# renaming columns
# table title: COVID-19 pandemic lockdowns
# the table title is included in all old columns, so, we can factor it out
# the new titles will have the following form <section>_<sub-section>
x.columns = ['country_territory', 'place', 'first_lockdown_start_date',
             'first_lockdown_end_date', 'first_lockdown_length',
             'second_lockdown_start_date', 'second_lockdown_end_date',
             'second_lockdown_length', 'third_lockdown_start_date',
             'third_lockdown_end_date', 'third_lockdown_length',
             'fourth_lockdown_start_date', 'fourth_lockdown_end_date',
             'fourth_lockdown_length', 'fifth_lockdown_start_date',
             'fifth_lockdown_end_date', 'fifth_lockdown_length',
             'sixth_lockdown_start_date', 'sixth_lockdown_end_date',
             'sixth_lockdown_length', 'seventh_lockdown_start_date',
             'seventh_lockdown_end_date', 'seventh_lockdown_length',
             'eighth_lockdown_start_date', 'eighth_lockdown_end_date',
             'eighth_lockdown_length', 'total_length', 'level']

In [35]:
for idx, value in x.first_lockdown_start_date.items():
  print(idx, value)

0 2020-03-13[78]
1 2020-03-23[80]
2 2020-03-23[80]
3 2020-03-19[82]
4 2020-03-19[82]
5 2020-03-24[87]
6 2020-03-31[89]
7 2020-03-31
8 2020-03-31
9 2020-03-31
10 2020-03-31
11 2020-03-31
12 2020-03-31
13 2020-03-31
14 2020-03-31
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
44 nan
45 nan
46 nan
47 nan
48 nan
49 nan
50 nan
51 nan
52 nan
53 nan
54 nan
55 nan
56 nan
57 2020-03-23[170]
58 2020-03-16[172]
59 2020-03-31[178]
60 2020-03-26[179]
61 2020-03-28[185]
62 2020-03-18[186]
63 2020-04-04[185]
64 2020-08-11[192]
65 2020-03-22[194]
66 2020-04-02[196]
67 2020-03-17[197]
68 2020-03-24[198]
69 2020-03-13[v][203][204]
70 2021-04-15[213]
71 2021-04-15[213]
72 2020-03-18[215]
73 2020-03-17[218][219]
74 nan
75 nan
76 nan
77 2020-03-25[224]
78 2020-03-31[226]
79 2020-03-23[227]
80 2020-03-18[229]
81 2020-03-24[232]
82 2020-03-16[172]
83 2020-03-12[237]
84 2020-03-16[241]
85 2020-03-12[242]
86 2020-04-02[243]
87 2021-03-11[244]
88 2020-03-20[245]
89 2020-04-03[247]
90 2020-03-17[249]
91 nan
92 2021-03-08[255]
93 2020-03-31[256]
94 2020-03-16[aa][258]
95 nan
96 2020-03-30[267]
97 2020-03-30[267]
98 2020-03-23[269]
99 nan
100 nan
101 2020-03-25[274]
102 2020-03-20[278]
103 2020-03-28[280]
104 2020-03-25[281]
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 2020-03-14[294]
113 2020-03-22[297]
114 2020-03-12[ab][299][300]
115 2020-08-07[306][307]
116 2020-08-07[306][307]
117 2020-08-07[306][307]
118 2020-04-02[310]
119 nan
120 2020-03-09[ad][316]
121 nan
122 nan
123 nan
124 nan
125 nan
126 nan
127 2020-04-15[323]
128 2020-03-18[324]
129 2020-03-14[327]
130 2020-05-10[329]
131 2020-03-15[330]
132 2020-03-22[332]
133 2020-03-16[334]
134 2020-03-23[337]
135 2020-03-23[337]
136 2020-03-18[339]
137 2020-03-23[343]
138 nan
139 nan
140 nan
141 nan
142 nan
143 nan
144 nan
145 2020-03-10[347]
146 2020-03-24[349]
147 2020-03-19[351]
148 2020-03-27[af][353]
149 2020-03-24[355]
150 nan
151 2020-03-15[358]
152 2020-03-23[362][363]
153 nan
154 2020-03-30[368]
155 2020-03-30[368]
156 2020-03-30[368]
157 2020-03-30[369]
158 2020-07-25[371]
159 2020-04-10[373]
160 2020-04-16[375]
161 2020-03-24[377]
162 2020-03-25[380]
163 2020-03-24[382]
164 2020-03-20[383]
165 2020-03-16[385]
166 2020-03-27[387]
167 2020-03-19[390]
168 2020-03-15[ai][391]
169 2020-03-23[390]
170 2020-03-13[396]
171 2020-03-19[401]
172 2020-03-11[404]
173 2020-03-25[406]
174 2020-03-30[408]
175 2020-03-28[412]
176 2020-03-21[413]
177 2020-03-26[415]
178 2020-03-14[417]
179 2020-03-29[419]
180 2020-03-26[419]
181 2020-03-26[419]
182 2020-03-09[421]
183 2020-03-26[419]
184 2020-03-15[397]
185 2020-04-07[424]
186 2020-03-26[427]
187 2020-03-14[429]
188 2020-03-18[431]
189 2020-03-17[435]
190 2020-03-25[439]
191 2020-03-17[441]
192 2020-03-22[442]
193 2020-04-23[444]
194 2021-04-29[445]
195 2020-03-17[397]
196 2020-03-26[446]
197 2020-03-23[448]
198 2020-03-23[448]
199 2020-03-23[448]
200 2020-03-23[448]
201 2020-12-31[465]
202 2020-12-31[465]
203 2020-12-31[465]
204 2020-12-31[465]
205 2020-12-26[466]
206 2020-12-26[467]
207 2020-12-26[468]
208 2020-12-26[469]
209 2020-12-20[470]
210 2020-12-20[470]
211 2020-06-30[471]
212 nan
213 nan
214 nan
215 nan
216 nan
217 nan
218 nan
219 nan
220 nan
221 nan
222 nan
223 2020-03-19[474]
224 2020-03-23[476]
225 2020-03-21[478]
226 2020-03-24[480]
227 2020-03-24[482]
228 2020-03-24[483]
229 2020-03-22[484]
230 2020-03-24[486]
231 2020-03-24[488]
232 2020-03-17[490]
233 2020-04-01[491]
234 nan
235 nan
236 nan
237 nan
238 2020-03-30[500]

In [44]:
# first version of this function
def clean_date_column_v0(old):
  try:
    if math.isnan(old): return old
    new = re.sub('\[\w+\]', '', old).strip()
    return new
  except Exception as e:
    print(f'Error: {repr(old)} --> type: {type(old)}')
    print(e)
    print()

In [42]:
# x.first_lockdown_start_date.apply(clean_date_column)
x.first_lockdown_start_date.apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [43]:
for idx, value in x.first_lockdown_start_date.items():
  print(idx, value, type(value))

0 2020-03-13[78] <class 'str'>
1 2020-03-23[80] <class 'str'>
2 2020-03-23[80] <class 'str'>
3 2020-03-19[82] <class 'str'>
4 2020-03-19[82] <class 'str'>
5 2020-03-24[87] <class 'str'>
6 2020-03-31[89] <class 'str'>
7 2020-03-31 <class 'str'>
8 2020-03-31 <class 'str'>
9 2020-03-31 <class 'str'>
10 2020-03-31 <class 'str'>
11 2020-03-31 <class 'str'>
12 2020-03-31 <class 'str'>
13 2020-03-31 <class 'str'>
14 2020-03-31 <class 'str'>
15 nan <class 'float'>
16 nan <class 'float'>
17 nan <class 'float'>
18 nan <class 'float'>
19 nan <class 'float'>
20 nan <class 'float'>
21 nan <class 'float'>
22 nan <class 'float'>
23 nan <class 'float'>
24 nan <class 'float'>
25 nan <class 'float'>
26 nan <class 'float'>
27 nan <class 'float'>
28 nan <class 'float'>
29 nan <class 'float'>
30 nan <class 'float'>
31 nan <class 'float'>
32 nan <class 'float'>
33 nan <class 'float'>
34 nan <class 'float'>
35 nan <class 'float'>
36 nan <class 'float'>
37 nan <class 'float'>
38 nan <class 'float'>
39 nan <class 'float'>
40 nan <class 'float'>
41 nan <class 'float'>
42 nan <class 'float'>
43 nan <class 'float'>
44 nan <class 'float'>
45 nan <class 'float'>
46 nan <class 'float'>
47 nan <class 'float'>
48 nan <class 'float'>
49 nan <class 'float'>
50 nan <class 'float'>
51 nan <class 'float'>
52 nan <class 'float'>
53 nan <class 'float'>
54 nan <class 'float'>
55 nan <class 'float'>
56 nan <class 'float'>
57 2020-03-23[170] <class 'str'>
58 2020-03-16[172] <class 'str'>
59 2020-03-31[178] <class 'str'>
60 2020-03-26[179] <class 'str'>
61 2020-03-28[185] <class 'str'>
62 2020-03-18[186] <class 'str'>
63 2020-04-04[185] <class 'str'>
64 2020-08-11[192] <class 'str'>
65 2020-03-22[194] <class 'str'>
66 2020-04-02[196] <class 'str'>
67 2020-03-17[197] <class 'str'>
68 2020-03-24[198] <class 'str'>
69 2020-03-13[v][203][204] <class 'str'>
70 2021-04-15[213] <class 'str'>
71 2021-04-15[213] <class 'str'>
72 2020-03-18[215] <class 'str'>
73 2020-03-17[218][219] <class 'str'>
74 nan <class 'float'>
75 nan <class 'float'>
76 nan <class 'float'>
77 2020-03-25[224] <class 'str'>
78 2020-03-31[226] <class 'str'>
79 2020-03-23[227] <class 'str'>
80 2020-03-18[229] <class 'str'>
81 2020-03-24[232] <class 'str'>
82 2020-03-16[172] <class 'str'>
83 2020-03-12[237] <class 'str'>
84 2020-03-16[241] <class 'str'>
85 2020-03-12[242] <class 'str'>
86 2020-04-02[243] <class 'str'>
87 2021-03-11[244] <class 'str'>
88 2020-03-20[245] <class 'str'>
89 2020-04-03[247] <class 'str'>
90 2020-03-17[249] <class 'str'>
91 nan <class 'float'>
92 2021-03-08[255] <class 'str'>
93 2020-03-31[256] <class 'str'>
94 2020-03-16[aa][258] <class 'str'>
95 nan <class 'float'>
96 2020-03-30[267] <class 'str'>
97 2020-03-30[267] <class 'str'>
98 2020-03-23[269] <class 'str'>
99 nan <class 'float'>
100 nan <class 'float'>
101 2020-03-25[274] <class 'str'>
102 2020-03-20[278] <class 'str'>
103 2020-03-28[280] <class 'str'>
104 2020-03-25[281] <class 'str'>
105 nan <class 'float'>
106 nan <class 'float'>
107 nan <class 'float'>
108 nan <class 'float'>
109 nan <class 'float'>
110 nan <class 'float'>
111 nan <class 'float'>
112 2020-03-14[294] <class 'str'>
113 2020-03-22[297] <class 'str'>
114 2020-03-12[ab][299][300] <class 'str'>
115 2020-08-07[306][307] <class 'str'>
116 2020-08-07[306][307] <class 'str'>
117 2020-08-07[306][307] <class 'str'>
118 2020-04-02[310] <class 'str'>
119 nan <class 'float'>
120 2020-03-09[ad][316] <class 'str'>
121 nan <class 'float'>
122 nan <class 'float'>
123 nan <class 'float'>
124 nan <class 'float'>
125 nan <class 'float'>
126 nan <class 'float'>
127 2020-04-15[323] <class 'str'>
128 2020-03-18[324] <class 'str'>
129 2020-03-14[327] <class 'str'>
130 2020-05-10[329] <class 'str'>
131 2020-03-15[330] <class 'str'>
132 2020-03-22[332] <class 'str'>
133 2020-03-16[334] <class 'str'>
134 2020-03-23[337] <class 'str'>
135 2020-03-23[337] <class 'str'>
136 2020-03-18[339] <class 'str'>
137 2020-03-23[343] <class 'str'>
138 nan <class 'float'>
139 nan <class 'float'>
140 nan <class 'float'>
141 nan <class 'float'>
142 nan <class 'float'>
143 nan <class 'float'>
144 nan <class 'float'>
145 2020-03-10[347] <class 'str'>
146 2020-03-24[349] <class 'str'>
147 2020-03-19[351] <class 'str'>
148 2020-03-27[af][353] <class 'str'>
149 2020-03-24[355] <class 'str'>
150 nan <class 'float'>
151 2020-03-15[358] <class 'str'>
152 2020-03-23[362][363] <class 'str'>
153 nan <class 'float'>
154 2020-03-30[368] <class 'str'>
155 2020-03-30[368] <class 'str'>
156 2020-03-30[368] <class 'str'>
157 2020-03-30[369] <class 'str'>
158 2020-07-25[371] <class 'str'>
159 2020-04-10[373] <class 'str'>
160 2020-04-16[375] <class 'str'>
161 2020-03-24[377] <class 'str'>
162 2020-03-25[380] <class 'str'>
163 2020-03-24[382] <class 'str'>
164 2020-03-20[383] <class 'str'>
165 2020-03-16[385] <class 'str'>
166 2020-03-27[387] <class 'str'>
167 2020-03-19[390] <class 'str'>
168 2020-03-15[ai][391] <class 'str'>
169 2020-03-23[390] <class 'str'>
170 2020-03-13[396] <class 'str'>
171 2020-03-19[401] <class 'str'>
172 2020-03-11[404] <class 'str'>
173 2020-03-25[406] <class 'str'>
174 2020-03-30[408] <class 'str'>
175 2020-03-28[412] <class 'str'>
176 2020-03-21[413] <class 'str'>
177 2020-03-26[415] <class 'str'>
178 2020-03-14[417] <class 'str'>
179 2020-03-29[419] <class 'str'>
180 2020-03-26[419] <class 'str'>
181 2020-03-26[419] <class 'str'>
182 2020-03-09[421] <class 'str'>
183 2020-03-26[419] <class 'str'>
184 2020-03-15[397] <class 'str'>
185 2020-04-07[424] <class 'str'>
186 2020-03-26[427] <class 'str'>
187 2020-03-14[429] <class 'str'>
188 2020-03-18[431] <class 'str'>
189 2020-03-17[435] <class 'str'>
190 2020-03-25[439] <class 'str'>
191 2020-03-17[441] <class 'str'>
192 2020-03-22[442] <class 'str'>
193 2020-04-23[444] <class 'str'>
194 2021-04-29[445] <class 'str'>
195 2020-03-17[397] <class 'str'>
196 2020-03-26[446] <class 'str'>
197 2020-03-23[448] <class 'str'>
198 2020-03-23[448] <class 'str'>
199 2020-03-23[448] <class 'str'>
200 2020-03-23[448] <class 'str'>
201 2020-12-31[465] <class 'str'>
202 2020-12-31[465] <class 'str'>
203 2020-12-31[465] <class 'str'>
204 2020-12-31[465] <class 'str'>
205 2020-12-26[466] <class 'str'>
206 2020-12-26[467] <class 'str'>
207 2020-12-26[468] <class 'str'>
208 2020-12-26[469] <class 'str'>
209 2020-12-20[470] <class 'str'>
210 2020-12-20[470] <class 'str'>
211 2020-06-30[471] <class 'str'>
212 nan <class 'float'>
213 nan <class 'float'>
214 nan <class 'float'>
215 nan <class 'float'>
216 nan <class 'float'>
217 nan <class 'float'>
218 nan <class 'float'>
219 nan <class 'float'>
220 nan <class 'float'>
221 nan <class 'float'>
222 nan <class 'float'>
223 2020-03-19[474] <class 'str'>
224 2020-03-23[476] <class 'str'>
225 2020-03-21[478] <class 'str'>
226 2020-03-24[480] <class 'str'>
227 2020-03-24[482] <class 'str'>
228 2020-03-24[483] <class 'str'>
229 2020-03-22[484] <class 'str'>
230 2020-03-24[486] <class 'str'>
231 2020-03-24[488] <class 'str'>
232 2020-03-17[490] <class 'str'>
233 2020-04-01[491] <class 'str'>
234 nan <class 'float'>
235 nan <class 'float'>
236 nan <class 'float'>
237 nan <class 'float'>
238 2020-03-30[500] <class 'str'>

In [46]:
def clean_date_column(old):
  # old can be either a string or a float (nan)
  if isinstance(old, float):
    # if it's a float (nan value), return it as is
    return old
  # otherwise, we have a string, so,
  # we need to process it and return the new version
  new = re.sub('\[\w+\]', '', old).strip()
  return new

In [47]:
x.first_lockdown_start_date.apply(clean_date_column)

0      2020-03-13
1      2020-03-23
2      2020-03-23
3      2020-03-19
4      2020-03-19
5      2020-03-24
6      2020-03-31
7      2020-03-31
8      2020-03-31
9      2020-03-31
10     2020-03-31
11     2020-03-31
12     2020-03-31
13     2020-03-31
14     2020-03-31
15            NaN
16            NaN
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33            NaN
34            NaN
35            NaN
36            NaN
37            NaN
38            NaN
39            NaN
40            NaN
41            NaN
42            NaN
43            NaN
44            NaN
45            NaN
46            NaN
47            NaN
48            NaN
49            NaN
50            NaN
51            NaN
52            NaN
53            NaN
54            NaN
55            NaN
56            NaN
57     2020-03-23
58     2020-03-16
59     2020-03-31
60     2020-03-26
61     2020-03-28
62     2020-03-18
63     2020-04-04
64     2020-08-11
65     2020-03-22
66     2020-04-02
67     2020-03-17
68     2020-03-24
69     2020-03-13
70     2021-04-15
71     2021-04-15
72     2020-03-18
73     2020-03-17
74            NaN
75            NaN
76            NaN
77     2020-03-25
78     2020-03-31
79     2020-03-23
80     2020-03-18
81     2020-03-24
82     2020-03-16
83     2020-03-12
84     2020-03-16
85     2020-03-12
86     2020-04-02
87     2021-03-11
88     2020-03-20
89     2020-04-03
90     2020-03-17
91            NaN
92     2021-03-08
93     2020-03-31
94     2020-03-16
95            NaN
96     2020-03-30
97     2020-03-30
98     2020-03-23
99            NaN
100           NaN
101    2020-03-25
102    2020-03-20
103    2020-03-28
104    2020-03-25
105           NaN
106           NaN
107           NaN
108           NaN
109           NaN
110           NaN
111           NaN
112    2020-03-14
113    2020-03-22
114    2020-03-12
115    2020-08-07
116    2020-08-07
117    2020-08-07
118    2020-04-02
119           NaN
120    2020-03-09
121           NaN
122           NaN
123           NaN
124           NaN
125           NaN
126           NaN
127    2020-04-15
128    2020-03-18
129    2020-03-14
130    2020-05-10
131    2020-03-15
132    2020-03-22
133    2020-03-16
134    2020-03-23
135    2020-03-23
136    2020-03-18
137    2020-03-23
138           NaN
139           NaN
140           NaN
141           NaN
142           NaN
143           NaN
144           NaN
145    2020-03-10
146    2020-03-24
147    2020-03-19
148    2020-03-27
149    2020-03-24
150           NaN
151    2020-03-15
152    2020-03-23
153           NaN
154    2020-03-30
155    2020-03-30
156    2020-03-30
157    2020-03-30
158    2020-07-25
159    2020-04-10
160    2020-04-16
161    2020-03-24
162    2020-03-25
163    2020-03-24
164    2020-03-20
165    2020-03-16
166    2020-03-27
167    2020-03-19
168    2020-03-15
169    2020-03-23
170    2020-03-13
171    2020-03-19
172    2020-03-11
173    2020-03-25
174    2020-03-30
175    2020-03-28
176    2020-03-21
177    2020-03-26
178    2020-03-14
179    2020-03-29
180    2020-03-26
181    2020-03-26
182    2020-03-09
183    2020-03-26
184    2020-03-15
185    2020-04-07
186    2020-03-26
187    2020-03-14
188    2020-03-18
189    2020-03-17
190    2020-03-25
191    2020-03-17
192    2020-03-22
193    2020-04-23
194    2021-04-29
195    2020-03-17
196    2020-03-26
197    2020-03-23
198    2020-03-23
199    2020-03-23
200    2020-03-23
201    2020-12-31
202    2020-12-31
203    2020-12-31
204    2020-12-31
205    2020-12-26
206    2020-12-26
207    2020-12-26
208    2020-12-26
209    2020-12-20
210    2020-12-20
211    2020-06-30
212           NaN
213           NaN
214           NaN
215           NaN
216           NaN
217           NaN
218           NaN
219           NaN
220           NaN
221           NaN
222           NaN
223    2020-03-19
224    2020-03-23
225    2020-03-21
226    2020-03-24
227    2020-03-24
228    2020-03-24
229    2020-03-22
230    2020-03-24
231    2020-03-24
232    2020-03-17
233    2020-04-01
234           NaN
235           NaN
236           NaN
237           NaN
238    2020-03-30
Name: first_lockdown_start_date, dtype: object

In [48]:
date_columns = ['first_lockdown_start_date',    'first_lockdown_end_date',
                'second_lockdown_start_date',   'second_lockdown_end_date',
                'third_lockdown_start_date',    'third_lockdown_end_date',
                'fourth_lockdown_start_date',   'fourth_lockdown_end_date',
                'fifth_lockdown_start_date',    'fifth_lockdown_end_date',
                'sixth_lockdown_start_date',    'sixth_lockdown_end_date',
                'seventh_lockdown_start_date',  'seventh_lockdown_end_date',
                'eighth_lockdown_start_date',   'eighth_lockdown_end_date']

In [50]:
for dc in date_columns:
  # print(x[dc].apply(clean_date_column))
  x[dc] = x[dc].apply(clean_date_column)

In [55]:
x.head()

Warning: Total number of columns (28) exceeds max_columns (20). Falling back to pandas display.

  country_territory                 place first_lockdown_start_date first_lockdown_end_date first_lockdown_length second_lockdown_start_date second_lockdown_end_date second_lockdown_length third_lockdown_start_date third_lockdown_end_date third_lockdown_length fourth_lockdown_start_date fourth_lockdown_end_date fourth_lockdown_length fifth_lockdown_start_date fifth_lockdown_end_date fifth_lockdown_length sixth_lockdown_start_date sixth_lockdown_end_date sixth_lockdown_length seventh_lockdown_start_date seventh_lockdown_end_date seventh_lockdown_length eighth_lockdown_start_date eighth_lockdown_end_date eighth_lockdown_length total_length              level
0           Albania               Albania                2020-03-13              2020-06-01                    80                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           80           National
1           Algeria               Algiers                2020-03-23              2020-05-14                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City
2           Algeria                 Blida                2020-03-23              2020-05-14                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City
3         Argentina  Greater Buenos Aires                2020-03-19              2020-11-08                   234                 2021-05-22               2021-05-30                      9                2021-06-05              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN          245  Metropolitan area
4         Argentina   Rest of the country                2020-03-19              2020-05-10                    52                 2021-05-22               2021-05-30                      9                2021-06-05              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           63           National

In [ ]:
# if length is NaN, set to 0
# and if it's a string, convert it to int

In [56]:
numeric_columns = ['first_lockdown_length',   'second_lockdown_length',
                   'third_lockdown_length',   'fourth_lockdown_length',
                   'fifth_lockdown_length',   'sixth_lockdown_length',
                   'seventh_lockdown_length', 'eighth_lockdown_length',
                   'total_length']

In [57]:
x.first_lockdown_length

0                  80
1                  52
2                  52
3                 234
4                  52
5                  41
6                  43
7                  43
8                  43
9                  43
10                 43
11                 43
12                 43
13                 43
14                 43
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
35                NaN
36                NaN
37                NaN
38                NaN
39                NaN
40                NaN
41                NaN
42                NaN
43                NaN
44                NaN
45                NaN
46                NaN
47                NaN
48                NaN
49                NaN
50                NaN
51                NaN
52                NaN
53                NaN
54                NaN
55                NaN
56                NaN
57                 52
58                 28
59                152
60                 51
61                 36
62                 47
63                 28
64                 21
65                131
66                 28
67                 21
68                 47
69                 94
70                 21
71                 21
72                 61
73                 58
74                NaN
75                NaN
76                NaN
77                 97
78                 20
79                 39
80                 32
81                 20
82                 27
83                 33
84                 15
85                 21
86                 21
87                 31
88                 18
89                 14
90                 55
91                 55
92                 20
93                 21
94                 76
95                 76
96                 13
97                 13
98                 42
99                 42
100                42
101                87
102                58
103                13
104                74
105               NaN
106               NaN
107               NaN
108               NaN
109               NaN
110               NaN
111               NaN
112                37
113                20
114                67
115                24
116                14
117                14
118                14
119               NaN
120                70
121                70
122                70
123                70
124                70
125                70
126                70
127                 7
128                43
129                51
130                21
131                13
132                97
133                94
134                28
135                28
136                83
137                70
138                70
139                70
140                70
141                70
142                70
143                70
144                70
145                 6
146                42
147                83
148                38
149               120
150               120
151                22
152                52
153                52
154                13
155                13
156                13
157                35
158                20
159                49
160                43
161                46
162                67
163                14
164                44
165               106
166          49 to 65
167                57
168    46 to 61 to 77
169                53
170                29
171                14
172                96
173                48
174                43
175                33
176                29
177                13
178                52
179                84
180                87
181                87
182               104
183                87
184          37 to 50
185                55
186                35
187                56
188                95
189                41
190                67
191                14
192                28
193                 4
194                18
195                38
196                22
197               103
198                98
199               102
200               112
201                88
202                88
203                88
204                88
205                93
206                93
207                93
208                93
209                99
210                99
211                24
212               NaN
213               NaN
214               NaN
215               NaN
216               NaN
217               NaN
218               NaN
219               NaN
220               NaN
221               NaN
222               NaN
223               453
224                30
225                70
226                26
227                41
228                20
229                83
230                53
231                50
232                57
233                21
234                21
235                21
236                21
237                21
238                33
Name: first_lockdown_length, dtype: object

In [58]:
x.head()

Warning: Total number of columns (28) exceeds max_columns (20). Falling back to pandas display.

  country_territory                 place first_lockdown_start_date first_lockdown_end_date first_lockdown_length second_lockdown_start_date second_lockdown_end_date second_lockdown_length third_lockdown_start_date third_lockdown_end_date third_lockdown_length fourth_lockdown_start_date fourth_lockdown_end_date fourth_lockdown_length fifth_lockdown_start_date fifth_lockdown_end_date fifth_lockdown_length sixth_lockdown_start_date sixth_lockdown_end_date sixth_lockdown_length seventh_lockdown_start_date seventh_lockdown_end_date seventh_lockdown_length eighth_lockdown_start_date eighth_lockdown_end_date eighth_lockdown_length total_length              level
0           Albania               Albania                2020-03-13              2020-06-01                    80                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           80           National
1           Algeria               Algiers                2020-03-23              2020-05-14                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City
2           Algeria                 Blida                2020-03-23              2020-05-14                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City
3         Argentina  Greater Buenos Aires                2020-03-19              2020-11-08                   234                 2021-05-22               2021-05-30                      9                2021-06-05              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN          245  Metropolitan area
4         Argentina   Rest of the country                2020-03-19              2020-05-10                    52                 2021-05-22               2021-05-30                      9                2021-06-05              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           63           National

In [59]:
# save the processed version of the data
x.to_csv('lockdown_dates_wikipedia.csv', index=False, header=True)

In [ ]:
# add fine-grained fixed to the date columns
# '2020-05-30to 2020-05-11' --> '2020-05-30 to 2020-05-11'
# '2020-05-31(downgraded to a night and weekend curfew)' --> '2020-05-31 (downgraded to a night and weekend curfew)'
# '2021-11-29(TBC)' --> '2021-11-29 (TBC)'

In [ ]:
# TODO: add 2-letter country code column
# TODO: encode lockdown level based on severity (0: no lockdown, ... m: full lockdown)
# check row 195, Turkey; why the place/city column is empty (check original data source)
  # that cell is empty in the table we scraped data from, so, this should be
  # fixed manually in cased someone wanted to focus his studies on Turkey

In [135]:
for dc in date_columns:
  # print(dc)
  for idx, value in x[dc].items():
    if (isinstance(value, str)) and ('(' in value or 'to' in value):
      print(f'{dc:30}\t{idx}\t{value}')
  # print()

# these defects are not that many, we can fix them manually after
# exporting the final version of the dataset

first_lockdown_end_date       	94	2020-05-30to 2020-05-11
first_lockdown_end_date       	162	2020-05-31(downgraded to a night and weekend curfew)
first_lockdown_end_date       	166	2020-05-15to 2020-05-31
first_lockdown_end_date       	168	2020-04-30to 2020-05-15to 2020-05-31
first_lockdown_end_date       	184	2020-04-21to 2020-05-04
second_lockdown_start_date    	69	2020-11-28 (de facto)
second_lockdown_end_date      	94	2021-03-01 to 2021-06-11
fifth_lockdown_end_date       	153	2021-11-29(TBC)

In [76]:
# let's add a country codes column to our dataset
# this is to make it merge easily with other datasets
x.country_territory.unique()

array(['Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Belgium',
       'Bermuda', 'Bhutan', 'Bolivia', 'Botswana', 'Brazil', 'Bulgaria',
       'Cambodia', 'Canada', 'Colombia', 'Congo', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czech Republic', 'Denmark', 'Ecuador', 'El Salvador',
       'Eritrea', 'Estonia', 'Fiji', 'France', 'Finland', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guernsey', 'Honduras', 'Hungary',
       'India', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica',
       'Jordan', 'Kosovo', 'Kuwait', 'Lebanon', 'Libya', 'Lithuania',
       'Madagascar', 'Malaysia', 'Mexico', 'Mongolia', 'Montenegro',
       'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nigeria', 'Northern Cyprus', 'North Korea', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Samoa', 'San Marino', 'Saudi Arabia', 'Serbia', 'Singapore',
       'South Africa', 'Spain', 'Sri Lanka', 'Switzerland', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Venezuela', 'Vietnam', 'Zimbabwe'], dtype=object)

In [78]:
COUNTRY_CODES_FILE = 'https://www.dropbox.com/s/h1u9kkc1l30lw8a/country_codes_and_flags.tsv'
!wget {COUNTRY_CODES_FILE} &> /dev/null

In [82]:
!head 'country_codes_and_flags.tsv' | cat -n

     1	Country Name	Alpha-2 Code	Alpha-3 Code	Numeric Code	Flag
     2	Afghanistan	AF	AFG	4	üá¶üá´
     3	√Öland Islands	AX	ALA	248	üá¶üáΩ
     4	Albania	AL	ALB	8	üá¶üá±
     5	Algeria	DZ	DZA	12	üá©üáø
     6	American Samoa	AS	ASM	16	üá¶üá∏
     7	Andorra	AD	AND	20	üá¶üá©
     8	Angola	AO	AGO	24	üá¶üá¥
     9	Anguilla	AI	AIA	660	üá¶üáÆ
    10	Antarctica	AQ	ATA	10	üá¶üá∂

In [83]:
cc_df = pd.read_csv('country_codes_and_flags.tsv', sep='\t')

In [85]:
cc_df.head()

     Country Name Alpha-2 Code Alpha-3 Code  Numeric Code Flag
0     Afghanistan           AF          AFG             4   üá¶üá´
1   √Öland Islands           AX          ALA           248   üá¶üáΩ
2         Albania           AL          ALB             8   üá¶üá±
3         Algeria           DZ          DZA            12   üá©üáø
4  American Samoa           AS          ASM            16   üá¶üá∏

In [86]:
# let's lowercase colum names to make using them easier later
cc_df.columns = map(lambda x : x.lower(), cc_df.columns)
# let's also replace spaces ' ' and dashes '-' with underscores '_' for the same reason
cc_df.columns = map(lambda x : x.replace(' ', '_'), cc_df.columns)
cc_df.columns = map(lambda x : x.replace('-', '_'), cc_df.columns)
list(cc_df.columns)

['country_name', 'alpha_2_code', 'alpha_3_code', 'numeric_code', 'flag']

In [88]:
cc_df.head()

     country_name alpha_2_code alpha_3_code  numeric_code flag
0     Afghanistan           AF          AFG             4   üá¶üá´
1   √Öland Islands           AX          ALA           248   üá¶üáΩ
2         Albania           AL          ALB             8   üá¶üá±
3         Algeria           DZ          DZA            12   üá©üáø
4  American Samoa           AS          ASM            16   üá¶üá∏

In [89]:
!head 'lockdown_dates_wikipedia.csv' | cat -n

     1	country_territory,place,first_lockdown_start_date,first_lockdown_end_date,first_lockdown_length,second_lockdown_start_date,second_lockdown_end_date,second_lockdown_length,third_lockdown_start_date,third_lockdown_end_date,third_lockdown_length,fourth_lockdown_start_date,fourth_lockdown_end_date,fourth_lockdown_length,fifth_lockdown_start_date,fifth_lockdown_end_date,fifth_lockdown_length,sixth_lockdown_start_date,sixth_lockdown_end_date,sixth_lockdown_length,seventh_lockdown_start_date,seventh_lockdown_end_date,seventh_lockdown_length,eighth_lockdown_start_date,eighth_lockdown_end_date,eighth_lockdown_length,total_length,level
     2	Albania,Albania,2020-03-13,2020-06-01,80,,,,,,,,,,,,,,,,,,,,,,80,National
     3	Algeria,Algiers,2020-03-23,2020-05-14,52,,,,,,,,,,,,,,,,,,,,,,52,City
     4	Algeria,Blida,2020-03-23,2020-05-14,52,,,,,,,,,,,,,,,,,,,,,,52,City
     5	Argentina,Greater Buenos Aires,2020-03-19,2020-11-08,234,2021-05-22,2021-05-30,9,2021-06-05,2021-06-06,2,,,,,,,,,,,,,,,,245,Metropolitan area
     6	Argentina,Rest of the country,2020-03-19,2020-05-10,52,2021-05-22,2021-05-30,9,2021-06-05,2021-06-06,2,,,,,,,,,,,,,,,,63,National
     7	Armenia,Armenia,2020-03-24,2020-05-04,41,,,,,,,,,,,,,,,,,,,,,,41,National
     8	Australia,Melbourne,2020-03-31,2020-05-12,43,2020-07-09,2020-10-27,111,2021-02-13,2021-02-17,5,2021-05-28,2021-06-10,14,2021-07-16,2021-07-27,12,2021-08-05,2021-10-21,78,,,,,,,263,Metropolitan area
     9	Australia,Greater Shepparton,2020-03-31,2020-05-12,43,2020-08-06,2020-09-16,41,2021-02-13,2021-02-17,5,2021-05-28,2021-06-03,7,2021-07-16,2021-07-27,12,2021-08-05,2021-08-09,5,2021-08-21,2021-09-15,25,2021-10-02,2021-10-09,7,145,Local government area
    10	Australia,Ballarat,2020-03-31,2020-05-12,43,2020-08-06,2020-09-16,41,2021-02-13,2021-02-17,5,2021-05-28,2021-06-03,7,2021-07-16,2021-07-27,12,2021-08-05,2021-08-09,5,2021-08-21,2021-09-09,20,2021-09-16,2021-09-22,7,140,Local government area

In [91]:
# now we have to check if all the countries in our dataset have an entry
# in the country_codes table
dataset_countries = x.country_territory.unique()
cc_countries = cc_df.country_name.unique() # country codes countries

In [92]:
# these country names are in our dataset but we couldn't find them
# in the country codes table, to fix this, we add them manually
set(dataset_countries) - set(cc_countries)

{'Bolivia',
 'Czech Republic',
 'Iran',
 'Kosovo',
 'North Korea',
 'Northern Cyprus',
 'Russia',
 'United Kingdom',
 'United States',
 'Venezuela',
 'Vietnam'}

In [94]:
# 'Czech Republic' if called 'Czechia' in the country codes table
# https://en.wikipedia.org/wiki/Czech_Republic
cc_df[cc_df.alpha_2_code == 'CZ']

   country_name alpha_2_code alpha_3_code  numeric_code flag
59      Czechia           CZ          CZE           203   üá®üáø

In [95]:
# 'North Korea' = 'Korea (Democratic People's Republic of)'
# https://en.wikipedia.org/wiki/North_Korea
cc_df[cc_df.alpha_2_code == 'KP']

                                country_name alpha_2_code alpha_3_code  numeric_code flag
118  Korea (Democratic People's Republic of)           KP          PRK           408   üá∞üáµ

In [96]:
# 'Northern Cyprus' = 'Cyprus'
# https://en.wikipedia.org/wiki/Northern_Cyprus#Religion
# https://www.prokerala.com/what-is/country-code/for-northern-cyprus.html
cc_df[cc_df.alpha_2_code == 'CY']

   country_name alpha_2_code alpha_3_code  numeric_code flag
58       Cyprus           CY          CYP           196   üá®üáæ

In [98]:
new_countries = {
    'Bolivia':            'BO',
    'Czech Republic':     'CZ',
    'Iran':               'IR',
    'Kosovo':             'XK',
    'North Korea':        'KP',
    'Northern Cyprus':    'CY',
    'Russia':             'RU',
    'United Kingdom':     'GB',
    'United States':      'US',
    'Venezuela':          'VE',
    'Vietnam':            'VN',
}

In [102]:
# 'country_name', 'alpha_2_code', 'alpha_3_code', 'numeric_code', 'flag'
# string,         string,         string,         int,            string
# https://en.wikipedia.org/wiki/Kosovo
# https://laendercode.net/en/2-letter-code/xk
# https://www.dnb.com/content/dam/english/dnb-solutions/sales-and-marketing/iso_3digit_numeric_country_codes.xls
# https://emojipedia.org/flag-kosovo/

cc_df = cc_df.append({
    'country_name': 'Kosovo',
    'alpha_2_code': 'XK',
    'alpha_3_code': 'XXK',
    'numeric_code': 926,
    'flag': 'üáΩüá∞'
}, ignore_index=True)

In [103]:
cc_df[cc_df.alpha_2_code == 'XK']

    country_name alpha_2_code alpha_3_code  numeric_code flag
249       Kosovo           XK          XXK           926   üáΩüá∞

In [104]:
# making sure that each country code have a single entry in the table
for country_name, country_alpha2_code in new_countries.items():
  match = cc_df[cc_df.alpha_2_code == country_alpha2_code].to_dict(orient='records')
  n_results = len(match)
  # print(type(match)) # <class 'list'>
  # pp(match)
  # break
  assert n_results == 1, f'{country_alpha2_code} have more than an entry (or none)!'
print('‚úÖ all good!')

‚úÖ all good!

In [105]:
for country_name, country_alpha2_code in new_countries.items():
  row = cc_df[cc_df.alpha_2_code == country_alpha2_code]
  row_index = row.index.tolist()[0]
  old_value = cc_df.at[row_index, 'country_name']
  # print('row_index', row_index)
  print(f'(# {row_index:3}) change {old_value:60} to \t {country_name}')

(#  26) change Bolivia (Plurinational State of)                             to 	 Bolivia
(#  59) change Czechia                                                      to 	 Czech Republic
(# 105) change Iran (Islamic Republic of)                                   to 	 Iran
(# 249) change Kosovo                                                       to 	 Kosovo
(# 118) change Korea (Democratic People's Republic of)                      to 	 North Korea
(#  58) change Cyprus                                                       to 	 Northern Cyprus
(# 183) change Russian Federation                                           to 	 Russia
(# 234) change United Kingdom of Great Britain and Northern Ireland         to 	 United Kingdom
(# 236) change United States of America                                     to 	 United States
(# 240) change Venezuela (Bolivarian Republic of)                           to 	 Venezuela
(# 241) change Viet Nam                                                     to 	 Vietnam

In [106]:
# updating country names
for country_name, country_alpha2_code in new_countries.items():
  row = cc_df[cc_df.alpha_2_code == country_alpha2_code]
  row_index = row.index.tolist()[0]
  cc_df.at[row_index, 'country_name'] = country_name

In [113]:
# let's check again if all the countries in our dataset have an entry
# in the country_codes table
dataset_countries = x.country_territory.unique()
cc_countries = cc_df.country_name.unique() # country codes countries
set(dataset_countries) - set(cc_countries)

{'Cyprus'}

In [116]:
# we didn't treat the row of the country 'Cyprus'
# let's debug the problem
'Cyprus' in x.country_territory.unique(), 'Cyprus' in cc_df.country_name.unique()

(True, False)

In [117]:
row = cc_df[cc_df.alpha_2_code == 'CY']
row_index = row.index.tolist()[0]
cc_df.at[row_index, 'country_name'] = 'Cyprus'
cc_df[cc_df.alpha_2_code == 'CY']

   country_name alpha_2_code alpha_3_code  numeric_code flag
58       Cyprus           CY          CYP           196   üá®üáæ

In [118]:
# let's hope that everything is fine now
dataset_countries = x.country_territory.unique()
cc_countries = cc_df.country_name.unique() # country codes countries
set(dataset_countries) - set(cc_countries)

{'Northern Cyprus'}

In [119]:
'Northern Cyprus' in x.country_territory.unique(), 'Northern Cyprus' in cc_df.country_name.unique()

(True, False)

In [120]:
# I guess we have both 'Cyprus' and 'Northern Cyprus'
# in the dataset, let's check that
x[x.country_territory.str.contains('Cyprus')]

Warning: Total number of columns (28) exceeds max_columns (20). Falling back to pandas display.

    country_territory            place first_lockdown_start_date first_lockdown_end_date first_lockdown_length second_lockdown_start_date second_lockdown_end_date second_lockdown_length third_lockdown_start_date third_lockdown_end_date third_lockdown_length fourth_lockdown_start_date fourth_lockdown_end_date fourth_lockdown_length fifth_lockdown_start_date fifth_lockdown_end_date fifth_lockdown_length sixth_lockdown_start_date sixth_lockdown_end_date sixth_lockdown_length seventh_lockdown_start_date seventh_lockdown_end_date seventh_lockdown_length eighth_lockdown_start_date eighth_lockdown_end_date eighth_lockdown_length total_length     level
81             Cyprus           Cyprus                2020-03-24              2020-04-13                    20                 2021-01-10               2021-01-31                     21                2021-04-26              2021-05-09                    13                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           54  National
157   Northern Cyprus  Northern Cyprus                2020-03-30              2020-05-04                    35                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           35  National

In [123]:
cc_df[cc_df.alpha_2_code == 'CY'].to_dict(orient='records')

[{'alpha_2_code': 'CY',
  'alpha_3_code': 'CYP',
  'country_name': 'Cyprus',
  'flag': 'üá®üáæ',
  'numeric_code': 196}]

In [124]:
# yes! so, we have to have 2 rows in cc_df to fix this problem!
cc_df = cc_df.append({
    'country_name': 'Northern Cyprus',
    'alpha_2_code': 'CY',
    'alpha_3_code': 'CYP',
    'numeric_code': 196,
    'flag': 'üá®üáæ'
}, ignore_index=True)

In [125]:
# now, everything should be fine!
dataset_countries = x.country_territory.unique()
cc_countries = cc_df.country_name.unique() # country codes countries
set(dataset_countries) - set(cc_countries)

set()

In [128]:
merged_df = x.merge(cc_df, how='inner', left_on='country_territory', right_on='country_name')
columns_to_drop = ['country_name', 'alpha_3_code', 'numeric_code', 'flag']
merged_df.drop(columns_to_drop, axis=1, inplace=True)

In [129]:
merged_df.head()

Warning: Total number of columns (29) exceeds max_columns (20). Falling back to pandas display.

  country_territory                 place first_lockdown_start_date first_lockdown_end_date first_lockdown_length second_lockdown_start_date second_lockdown_end_date second_lockdown_length third_lockdown_start_date third_lockdown_end_date third_lockdown_length fourth_lockdown_start_date fourth_lockdown_end_date fourth_lockdown_length fifth_lockdown_start_date fifth_lockdown_end_date fifth_lockdown_length sixth_lockdown_start_date sixth_lockdown_end_date sixth_lockdown_length seventh_lockdown_start_date seventh_lockdown_end_date seventh_lockdown_length eighth_lockdown_start_date eighth_lockdown_end_date eighth_lockdown_length total_length              level alpha_2_code
0           Albania               Albania                2020-03-13              2020-06-01                    80                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           80           National           AL
1           Algeria               Algiers                2020-03-23              2020-05-14                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City           DZ
2           Algeria                 Blida                2020-03-23              2020-05-14                    52                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           52               City           DZ
3         Argentina  Greater Buenos Aires                2020-03-19              2020-11-08                   234                 2021-05-22               2021-05-30                      9                2021-06-05              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN          245  Metropolitan area           AR
4         Argentina   Rest of the country                2020-03-19              2020-05-10                    52                 2021-05-22               2021-05-30                      9                2021-06-05              2021-06-06                     2                        NaN                      NaN                    NaN                       NaN                     NaN                   NaN                       NaN                     NaN                   NaN                         NaN                       NaN                     NaN                        NaN                      NaN                    NaN           63           National           AR

In [130]:
# making sure that the dataset have the same number of rows before
# and after merging it with the country codes table
n_rows_before = len(x.index)
n_rows_after = len(merged_df.index)
n_rows_before == n_rows_after

True

In [131]:
merged_df.columns

Index(['country_territory', 'place', 'first_lockdown_start_date', 'first_lockdown_end_date', 'first_lockdown_length', 'second_lockdown_start_date', 'second_lockdown_end_date', 'second_lockdown_length', 'third_lockdown_start_date', 'third_lockdown_end_date', 'third_lockdown_length', 'fourth_lockdown_start_date', 'fourth_lockdown_end_date', 'fourth_lockdown_length', 'fifth_lockdown_start_date', 'fifth_lockdown_end_date', 'fifth_lockdown_length', 'sixth_lockdown_start_date', 'sixth_lockdown_end_date', 'sixth_lockdown_length', 'seventh_lockdown_start_date', 'seventh_lockdown_end_date', 'seventh_lockdown_length', 'eighth_lockdown_start_date', 'eighth_lockdown_end_date', 'eighth_lockdown_length', 'total_length', 'level', 'alpha_2_code'], dtype='object')

In [132]:
# update column names (alpha_2_code -> country_code)
merged_df.columns = ['country_territory', 'place', 'first_lockdown_start_date',
                     'first_lockdown_end_date', 'first_lockdown_length', 
                     'second_lockdown_start_date', 'second_lockdown_end_date', 
                     'second_lockdown_length', 'third_lockdown_start_date', 
                     'third_lockdown_end_date', 'third_lockdown_length', 
                     'fourth_lockdown_start_date', 'fourth_lockdown_end_date', 
                     'fourth_lockdown_length', 'fifth_lockdown_start_date', 
                     'fifth_lockdown_end_date', 'fifth_lockdown_length', 
                     'sixth_lockdown_start_date', 'sixth_lockdown_end_date', 
                     'sixth_lockdown_length', 'seventh_lockdown_start_date', 
                     'seventh_lockdown_end_date', 'seventh_lockdown_length', 
                     'eighth_lockdown_start_date', 'eighth_lockdown_end_date', 
                     'eighth_lockdown_length', 'total_length', 'level', 
                     'country_code']

In [133]:
# reorder the columns: let's put country_code right after the country_territory name
new_columns_order = ['country_territory', 'country_code', 'place',
                     'first_lockdown_start_date', 'first_lockdown_end_date',
                     'first_lockdown_length',  'second_lockdown_start_date',
                     'second_lockdown_end_date', 'second_lockdown_length',
                     'third_lockdown_start_date', 'third_lockdown_end_date',
                     'third_lockdown_length', 'fourth_lockdown_start_date',
                     'fourth_lockdown_end_date', 'fourth_lockdown_length',
                     'fifth_lockdown_start_date', 'fifth_lockdown_end_date',
                     'fifth_lockdown_length', 'sixth_lockdown_start_date',
                     'sixth_lockdown_end_date', 'sixth_lockdown_length',
                     'seventh_lockdown_start_date', 'seventh_lockdown_end_date',
                     'seventh_lockdown_length', 'eighth_lockdown_start_date',
                     'eighth_lockdown_end_date', 'eighth_lockdown_length',
                     'total_length', 'level']
merged_df = merged_df[new_columns_order]

In [134]:
# save the processed version of the data
merged_df.to_csv('lockdown_dates_wikipedia.csv', index=False, header=True)

# References
* [Read HTML Page using Pandas | read_html() | Web-scrapping Tutorial - YouTube](https://www.youtube.com/watch?v=WGWTGH4j2u0)
* [python - How can I check for NaN values? - Stack Overflow](https://stackoverflow.com/questions/944700/how-can-i-check-for-nan-values?rq=1)
* [regex - Regular Expression for alphanumeric and underscores - Stack Overflow](https://stackoverflow.com/questions/336210/regular-expression-for-alphanumeric-and-underscores)

---